<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
		<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
		<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
		<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/schema.html" . -}}
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>

	{{/* No need to minify normalize as it's already minified */}}
	{{ $normalizeCSS := resources.Get "css/normalize.css" }}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $normalizeCSS.RelPermalink }}" />

	{{ $mainCSS := resources.Get "css/main.css" | resources.Minify }}
	<link rel="stylesheet" type="text/css" href="{{ $mainCSS.RelPermalink}}" />

	{{ $darkCSS := resources.Get "css/dark.css" | resources.Minify }}
	<link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ $darkCSS.RelPermalink }}" />
	{{- if isset .Site.Params "customdarkcss" }}
		{{ $customDarkCSS := resources.Get .Site.Params.customDarkCSS | resources.Minify }}
		<link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ $customDarkCSS.RelPermalink }}" />
	{{- end }}

	{{- if isset .Site.Params "customcss" }}
		{{ $customCSS := resources.Get .Site.Params.customCSS | resources.Minify }}
		<link rel="stylesheet" type="text/css" href="{{ $customCSS.RelPermalink }}" />
	{{ end }}

	{{ $mainJS := resources.Get "js/main.js" | js.Build | resources.Minify }}
	<script src="{{ $mainJS.RelPermalink }}"></script>

	{{- if isset .Site.Params "customjs" -}}
		{{- range .Site.Params.customJS }}
			{{ $customJS := resources.Get . | js.Build | resources.Minify }}
			<script src="{{ $customJS.RelPermalink }} "></script>
		{{- end }}
	{{- end }}

	{{ partial "meta.html" . }}
</head>
